*~
*.swp
*.dll
*.exe
*.config
*.pak
*.dat
*.bin

Docs/
Flash/
FlashProjectorMac/
Resources/CMaps/
Resources/Flash.ocx
Resources/Fonts/
Resources/Icons/
Resources/Publication/README.txt
SWFToImage.sxs.manifest
Utilities/
locales/
